<div class="container">
  
  <!--h2 style="text-align: center;font-size: 200%;font-family: fantasy;">{{title}}</!--h2-->
  <div class="card">
    <div class="card-body">
      <!--for testing look and feel keeping app employees-->
      <!--app-employees--><!--/app-employees-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="home">Home</a>
      </nav>
      <hr>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <span>All rights reserved 2021<a href="https://www.experionglobal.com/">@Experion Technologies</a></span>

  </div>
</div>